name: Conformance
on:
  pull_request:
  push:
    tags:
      - 'v*.*.*'
    branches:
      - 'main'

permissions:
  contents: read

jobs:
  conformance:
    name: Conformance Testing
    runs-on: ubuntu-24.04
    steps:
      - name: Setup Cache
        uses: actions/cache@v5
        with:
          path: ~/.cache/bazel
          key: ${{ runner.os }}-build-cache
      - name: Checkout code
        uses: actions/checkout@v6
        with:
          fetch-depth: 1
      - name: Install go
        uses: actions/setup-go@v6
        with:
          go-version: stable
          cache: true
      - name: Test conformance
        run: make conformance
